.container {
    /* display: flex; */
    width: 800px;
    height: 850px;
    margin: auto;
}

.gameBoard {
    background-color: #2C2726;
    width: 320px;  /* Or whatever */
    height: 700px; /* Or whatever */
    margin: auto;  /* Magic! */
    line-height: 0;
}

.scoreBoard {
    width: 320px;  /* Or whatever */
    height: 700px; /* Or whatever */
    margin: auto;  /* Magic! */
}

.regularRow {
    width: 200px;
    height: 100px;
    margin: auto;
}

.blockRow {
    width: 200px;
    height: 200px;
    margin: auto;
}

.tetBoard {
    background-color: #2C2726;
    width: 128px;
    height: 130px;
    margin: auto;
    line-height: 0;
}

.block {
    width: 32px;
    height: 35px;
    border: 1px groove #574D4B;
    display: inline-block;
}