/* outermost container for one player */
.gameContainer {
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    width: 1000px;
    height: 900px;
}

/* inner container on top  */
.topBoard {
    display: inline-block;
    width: 1000px;
    height: 100px;
}

/* board on the left of the gameboard */
.leftBoard {
    display: inline-block;
    width: 100px; 
    height: 500px;
    margin-left: 200px;
    margin-right: 25px;
    vertical-align: top;
}

/* main game board */
.gameBoard {
    display: inline-block;
    background-color: #2C2726;
    width: 250px; 
    height: 500px;
    line-height: 0;
}

/* board on the right of the gameboard */
.rightBoard {
    display: inline-block;
    width: 100px; 
    height: 500px;
    margin-left: 25px;
    vertical-align: top;
}

.singleTetBoard {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #2C2726;
    line-height: 0;
}

.block {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px groove #574D4B;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}