.leaderboard-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 850px;
    margin: auto;
    text-align: center;
}

/* .leaderboard-header {
    margin: auto;
} */